*,
*:before {
  box-sizing: inherit;
}

html,
body {
  font-size: 18px;
  line-height: 3.5;
}

div {
  display: block;
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.box-model {
  vertical-align: middle;
  display: block;
  font-family: sans-serif;
}

.margin {
  background: #f1f1f1;
  padding: 45px;
  padding-top: 0px;
  border: 2px dashed #bbb;
}

.margin:before {
  content: "Margin";
  display: block;
}

.border {
  background-color: green;
  padding: 45px;
  padding-top: 0px;
  height: 100%;
  position: relative;
}

.border:before {
  content: "Border";
  display: block;
}

.padding {
  padding: 45px;
  padding-top: 0px;
  height: 100%;
  position: relative;
  background-color: #f1f1f1;
}

.padding:before {
  content: "Padding";
  display: block;
}

.content {
  padding: 20px;
  height: 100%;
  position: relative;
  background: white;
  border: 2px dashed #bbb;
}

.content:before {
  content: "Content";
  display: block;
}
